.cart-container {
  width: 30%;
  height: 85vh;
  gap: 10px;
  overflow: scroll;
  scrollbar-width: none;
}

.cart-item-container {
  display: flex;
}
.cart-item-img-container {
  width: 6rem;
  height: 6rem;
  /* display: inline-block; */
}

img {
  width: 100%;
  height: 100%;
}

.cart-product-details-container {
  /* display: flex; */
  width: 70%;
  margin-left: 10px;
}
.cart-product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-name {
  font-weight: bold;
}

.btn {
  padding: 5px 10px;
  margin: 10px;
}

.cart-total {
  display: block;
  border: 1px solid;
  text-align: center;
}
